body
{
    margin: 60px auto;
    width: 70%;
}
nav ul
{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li
{
    display: inline;
    margin-right: 20px;
}
a
{
    text-decoration: none;
    color: #999;
}
a:hover
{
    text-decoration: underline;
}
#lab_social_icon_footer {
  padding:40px;
  background-color: black;
  position:fixed;
  bottom:0;
  width:100%;
  height: 1.5rem;
  text-align:center;
  right:0px;
  left:0px
  
}

#lab_social_icon_footer a {
  color: #333;
}

#lab_social_icon_footer .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#lab_social_icon_footer .social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
#lab_social_icon_footer #social-linkedin:hover {
  color: #3B5998;
}

#lab_social_icon_footer #social-github:hover {
  color: #4099FF;
}

#lab_social_icon_footer #social-gp:hover {
  color: #d34836;
}

#lab_social_icon_footer #social-em:hover {
  color: #f39c12;
}
h1
{
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    width: 100%;
}

p
{
    text-align: left;
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
    height: 100%;
    width: 100%;
}
.container
{
  position: relative;
  height: auto;

}

.content-wrap
{
  padding-bottom: 2.5rem;
  display:inline-block;
  vertical-align:top;
  width:75%;
  float:left;

}
.content-image-wrap
{
  padding-bottom: 2.5rem;
  display:inline-block;
  text-align:bottom;
  width:25%;
  float:left;
}
#space
{
  height:.25px;
}
#largespace
{
  height:500px;
}

img
{
  display: block;
  width: 50%;
  transform:scale(.75);
  
}
